@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  display: grid;
  place-items: center;
    font-size: 15pt;
     font-family: 'Poppins', cursive;
}
#map {
  height: 400px;
  width:100%;
  z-index: 1;
}
a {
  text-decoration: none;
  color:red;
}
.body-container {
  position: relative;
  width: 50%;
}
.search-container {
  display: flex;
}
input#search {
  padding: 10px;
  width: 100%;
}
input#name {
  display: none;
}
input#fname {
  padding: 10px;
}
p {
  font-size: 12px;
  font-weight: 400;
}
#ip_show {
  display: none;
  font-size: 18px;
  font-weight: bold;
}
.form-container { 
display: none;
}
form {
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  box-shadow: 0 0 10px 1px rgba(124, 124, 124, 0.274);
  background-color: #ffffff;
}
.form-container button {
  padding: 10px;
  width: 6rem;
}
@media screen and (max-width: 767px) {
  .body-container {
    width: 100%;
  }
}